{% load staticfiles %}
<!DOCTYPE html>
<html style="height: 100%">

<head>
    <meta charset="utf-8">
</head>

<style>
    .searchEch {
            position: absolute;
            left: 20px;
            top: 5px;
            z-index: 1;
        }
        input, button {
            border-radius: 5px;
            font-size: 14px;
            line-height: 25px;
            border: 1px solid darkgrey;
            outline: none;
        }
        input{
            text-indent: 0.5em
        }
        button {
            cursor: pointer
        }
        button:hover{
            color: #fff;
            background-color: #19a9d5
        }

    </style>

<body style="height: 100%; margin: 0">
    <div class="searchEch">
        <input type="text" id="inpVal" value="" placeholder="" autocomplete="off" />
        <button id="searchVal">查看</button>
    </div>

    <div id="container" style="height: 100%; width: 100%; margin:0"></div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/echarts-wordcloud.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/apiMap.js' %}"></script>

    <script type="text/javascript">

        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        //     // var app = {};
        var option = null;
        //     // var data = [];
        //     // var geoCoordMap = {};


        var keywords = {
            "visualMap": 22199,
            "continuous": 10288,
            "contoller": 620
        };


        var searchWord = localStorage.getItem("searchValue");
        $("#inpVal").attr("placeholder", searchWord)

        var oinpVal = ""

        $("#searchVal").click(function () {
            oinpVal = $("#inpVal").val();
            if (oinpVal != "") {
                searchWord = oinpVal;
                getTopic()
            } else {
                alert("请输入内容")
            }
        });


        function getTopic() {
                 $.ajax({
                 async: false,    //表示请求是否异步处理
                 type: "get",    //请求类型
                 url: '/getWordCloud?kw=' + searchWord,//请求的 URL地址
                 dataType: "json",//返回的数据类型
                 success: function (datas) {
                    keywords = datas
                     // 修改keywords遍历数据
                 },
                 error: function (data) {

                 }
             });
        }
        getTopic()



        var data = [];
        for (var name in keywords) {
            data.push({
                name: name,
                value: Math.sqrt(keywords[name])
            })
        }

        var maskImage = new Image();

        option = {
            series: [{
                type: 'wordCloud',
                sizeRange: [10, 100],
                rotationRange: [-90, 90],
                rotationStep: 45,
                gridSize: 2,
                shape: 'pentagon',
                maskImage: maskImage,
                drawOutOfBound: false,
                textStyle: {
                    normal: {
                        color: function () {
                            return 'rgb(' + [
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160)
                            ].join(',') + ')';
                        }
                    },
                    emphasis: {
                        color: 'red'
                    }
                },
                data: data.sort(function (a, b) {
                    return b.value - a.value;
                })
            }]
        };


        maskImage.onload = function () {
            option.series[0].maskImage
            myChart.setOption(option);
        }

        maskImage.src = '../static/img/logo.png';

        window.onresize = function () {
            myChart.resize();
        }


    </script>

</body>

</html>